<a href="https://colab.research.google.com/github/davekgw/Kompro-1/blob/main/Dasar_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Testing

In [ ]:
x=7
y=100
z=9
result = x*5+y/(x*z)>=x*z/(z-x)*(y-z)
if result == True:
  result = "Benar"
else:
  result = "Salah"

result

'Salah'

In [ ]:
p = 10
l = 10
luas = p*l
print(luas)

100

Variabel = p, l, luas (adalah pemberian nama pada alokasi memori, variable berisi nilai yang diberikan user)

Operator = + * - /

Fungsi = print()

In [ ]:
panjang = 10
lebar = 9
luas = panjang * lebar
anu = luas
if luas >= 99:
  anu = "Lebih dari 99".capitalize()
else:
  anu = "Kurang dari 99"

print(anu)

Kurang dari 99

Menghitung luas lingkaran

In [ ]:
r = 10
phi = 3.14
luas = phi * r * r
luas = luas/2
print(luas)

157.0

Cek Type Data.

In [ ]:
r = 30
type(r)

int

Strings

In [ ]:
digit = "10987654321"
digit2 = 30
print(digit)
type(digit)

10987654321

str

In [ ]:
tex = "Dave's Koagow" #kutip 2
print(tex)

Dave's Koagow

In [ ]:
tex = 'Dave\'s Koagow' #kutip 1
print(tex + " blablabla")

Dave's Koagow blablabla

ARRAY!!

In [ ]:
b = "Dave koagow"
tex = b[0:]
print(tex)

Dave koagow

Test!

In [ ]:
a= 20
b= 10
c= 15
d= 5
e= 0

e= (a + b) * c / d #90
print("Value e =", e)

e= ((a + b) * c) / d #90
print("Value e =", e)

e= (a + b) * (c / d) #90
print("Value e =", e)

e= a + (b * c) / d #50
print("Value e =", e)

Value e = 90.0
Value e = 90.0
Value e = 90.0
Value e = 50.0

In [ ]:
tex = "Python adalah bahasa pemrograman"
t = tex[14:20]
tex2 = "Selamat datang di dunia pemrograman"
y = tex2[8:18]
tex3 = "abcdefghij"
u = tex3[2:6]
tex4 = "Kucing manis banget"
i = tex4[7:]

print(t)
print(y)
print(u)
print(i)

bahasa
datang di
cdef
manis banget

In [ ]:
b = "abcdefgh"
o = b[1]+b[3]+b[5]+b[7]
print(o)

t = "abcdefgh"
i = t[1::2]
print(i)
#beda pengoperasian tapi hasil sama

bdfh
bdfh

String Methods...

In [ ]:
tes = "Jokes jokeR"
print(tes.count('o'))
print(tes.count('o', 3, 5))
print(tes.find("ke"))
print(tes.rfind("ke"))
print(tes.lower())
print(tes.upper())
print(tes.capitalize())
print(tes.title())
print(tes.swapcase())

2
0
2
8
jokes joker
JOKES JOKER
Jokes joker
Jokes Joker
jOKES JOKEr

Tipe tipe data : string, list, integer, float, boolean, tuple

In [ ]:
temp = float(input("Masukan nilai: "))
wind = float(input("Masukan nilai: "))
a = 35.74;b = .6215;c = -35.75;d = .4275;e = .16
wc = (a+b*temp)+(c+d*temp)*wind**e
print("Hasilnya", wc)

Masukan nilai: 90
Masukan nilai: 90
Hasilnya 97.27316001705725

Python print() function

• Menggunakan data types:
Similarly, when using other data types

• %d -> Integer

• %e -> exponential

• %f -> Float

• %o -> Octal

• %x -> Hexadecimal

• Example:

print("Actual Number = %d" %15)

print("Exponential equivalent of the number = %e" %15)

print("Float of the number = %f" %15)

print("Octal equivalent of the number = %o" %15)

print("Hexadecimal equivalent of the number = %x" %15)

In [ ]:
a=20
b="anu"
print("Welcome to %s %%%d" %(b,int(a)))

Welcome to anu %20

In [ ]:
print("hallo\n"*5)

hallo
hallo
hallo
hallo
hallo